<section>
  {{!-- <h5>Create a post</h5> --}}

  <form class="new-post-form border border-light p-3">
    <div>
      <input type="text" class="form-control w-100" id="post-title" name="post-title" placeholder="Title" />
    </div>
    <div>
      <textarea class="form-control" id="post-text" rows="3" name="post-text" placeholder="Text (optional)"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
  </form>
</section>